<!DOCTYPE html>
<html>
  <head>
    <title>Blogr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container text-end my-1">
      <%= link_to 'TODO_LINK', nil, class: 'btn btn-outline-primary btn-sm' %>
    </div>
    <%= render 'shared/flash' %>

    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
